
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* variables en css */

:root{
    /* esta en todas las clases de css */
    --green-color: #7ACC2D;
    --black-color: #313337;
    --white-color: white;
    /* espacio */
    --space:10px;

    /* Tipografía */
    --normal:12px;

    /* box shadow */
    --box: 0px 0px 2px 1px #e6e5e9;


}

html,body{
    padding: 0px;
    margin: 0px;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    /* Espaciado */
    

}

nav{
    /* pasar los elementos vertial a horizontal */
    /* los pone vertical display flex */
    display: flex; 
    background-color: var(--green-color);
    padding:var(--space) ;
    color: white;
    /* separar */
    justify-content: space-between;
    /* propiedad que alinea al centro */
    align-items: center;
}
p , label{
    font-size: var(--normal);
}

nav ul{ 
    /* todos los ul de la nav */
    display: flex;

}
nav li{
    padding-left: 20px;
    list-style: none;
}
nav li a {
    color:var(--black-color);
    text-decoration: none;
}
nav li a:hover{
    /* acciones que puede tener un boton */
    color:white
}
 /* ------------------main section */

 .main_section{
     padding: 15%;
     text-align: center;
 }
 .men{
   
    text-align: center;

 }

 .products{
     /* traer una imagen de la carpeta */
     background-image: url("../imagenes/curve.webp");
     /* max-height: 50px; */
     background-size:cover ;
     background-position:center top;
     padding: 10%;
     display: flex;
     justify-content: center;
 }
 .product{
     padding: var(--space);
     /* atributo */
     margin-top: -210px;

 }
/* selectores de product hasta content */
 .product .content{
     background-color: white;
     padding: 15px;
     box-shadow: var(--box)

 }
 /* arreglar las imagenes al centro */
 .img_content{
     text-align: center;


 }

 .main_button{
     background-color: var(--green-color);
     width: 100%;
     text-decoration: none;
     padding: var(--space);
     font-size: 12px;
     color: white;
     border: 0;   
     cursor: pointer;  
 }

 .main_button:hover{
     background-color: #5e9e22;
 }

 .ani{
    
    padding: 10%;
    display: flex;
    

 }

 .pro{
    padding:20px;
    /* atributo */
     /* margin-top: 90px;  */
     text-align: center;

 }
 .pro img{
    max-height: 100px
  }
  
 /* .pro .contenedor{

     background-color: white;
     padding: 15px;
 } */

 .h2{
    font: Bold 17px/23px Open Sans;
    letter-spacing: 0;
    color: #313337;
    opacity: 1;
    text-align: center;
 
}

.p{
    text-align: left;
    font: Regular 12px/17px Open Sans;
    letter-spacing: 0;
    color: #313337;
    opacity: 1;
}

.pro2{

    padding: 10px;
    /* atributo */
     /* margin-top: -100px;  */

}
.conte{
    box-shadow:0px 0 2px 1px #e6e5e9;
}

.letra{
    /* padding: -100px;
    top: 1545px;
/* left: 146px; */
/* width: 50px;
height: 23px; */ 
/* text-align: center;
font: Bold 17px/23px Open Sans;
letter-spacing: 0;
color: #313337;
opacity: 1; */

}
.texto{
    padding: 10px;
}
.ani2{
    padding: 5%;
    display: flex;

}
.ani2 img {
    width: 100%;
  }



  /* ---------venta */
  .modulo_pago{
      background-color: var(--white-color);
      box-shadow: var(--box);
      padding: var(--space)
  }
  .data{
      margin-top: 10px;
      width: 100%;
      height: 35px;
      border-radius: 2px;
      border: 1px solid var(--black-color);

      /* cuanto tiene de ancho y como va a ser ese borde */

      box-sizing: border-box;
      /* box define desde donde toma referencia el 100% de ancho  */
  }
  .modulo_pago_images{
    max-width: 200px;
    text-align: center;
    margin: auto;
    /* margin:auto el lado izquierdo y derecho se igualan y por eso se centra */
    
    /* máximo de ancho */

  }

  .modulo_pago .main_button{
      margin-top: 10px;

  }


  footer {
    display: flex;
  justify-content: space-between;
  font-size: var(--normal);
  background-color: var(--black-color);
  padding: var(--space);
  color: var(--white-color);
}

.contact a{

    color: var(--green-color);

}

